<html>
<head>
  <title>Achievements</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/faq.css" rel="stylesheet">-->
  <link href="/css/WeFit.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="/css/fixed-navigation-bar.css">
  <link  id= "default" rel="stylesheet" href="/css/achievements.css">
</head>
<body>
  <nav class="fixed-nav-bar">
    <div id="menu" class="menu">
      <a class="sitename" href="profile">WeFit</a>
      <a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
      <ul class="menu-items">
        <li><a href="profile">Profile</a></li>
        <li><a href="dailies">Dailies</a></li>
        <li><a href="inventory">Pet</a></li>
        <li><a href="achievements">Achievements</a></li>
        <li><a href="faq">Help</a></li>
    </ul>
    </div>
  </nav>
  <div class="container">
    <h1 align="center">Achievements</h1>
    <br>

     {{#each achievement}}

    <!--<ul class = "list">
      <tr>
      <li  align="center" id = "a{{number}}" > -->
      <table class = "list" align="center" id = "a{{number}}">
        <tr>
        <td id = "iconW"><img id="{{icon}}" src="http://t4.rbxcdn.com/2e8c272e87935c317273179bc5b5be53" height="90" width="90"></td>
        <td id= "descrip">{{description}}</td>
       
        <td><input id ="{{bye}}" type="image" name="submit" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fb/Yes_check.svg/1024px-Yes_check.svg.png" onclick="{{donefunc}}" width="25"></td>
        <br>
      </tr>
          <!--<input id ="{{bye}}" value = "" type ="button" onclick="{{donefunc}}"></input>-->
      </table>
    <!--  </li>
    </tr>

    </ul>-->

    {{/each}}

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="js/achievements.js"></script>
  <script src="js/dailies.js"></script>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.js"></script> 
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73969915-1', 'auto');
  ga('send', 'pageview');
  </script>
</body>
</html>